#urvid {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

.button-container {
  text-align: center;
  margin-top: 15px;
  position: relative;
  z-index: 10; 
}

.title-content {
  text-align: center;
  margin-top: 20px;
  z-index: 10;
  position: relative;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  display: inline-block;
}

.content {
  position: relative;
  margin: 40px auto;
  width: 90%;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  z-index: 10;
}

#pause_button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 12px; 
}

#pause_button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}


.return-home {
  display: inline-block;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px;
  transition: 0.3s ease;
}

.return-home:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}
